# Secrets
credentials/secrets.toml

# Ignore virtual environments
.venv/
env/

# Ignore build artifacts
dist/
build/
*.egg-info/
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/sharepoint_api.iml
/.idea/vcs.xml
/.idea/webResources.xml
